

# --- Secrets and Credentials ---
credentials.json
token.json
*.env

# --- Local Data & Databases ---
chroma_db_store_senior_agent/

# --- Python Virtual Environments ---
venv/
*.venv/
__pycache__/
*.pyc

# --- Streamlit ---
.streamlit/